<!DOCTYPE html>
<html lang="en">

<head>
    <title>Liste des Services</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Date-time picker css -->
    <link rel="stylesheet" type="text/css" href="assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="assets/pages/menu-search/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

        <link rel="stylesheet" type="text/css" href="assets/css/linearicons.css" >
    <link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.css">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
	  <link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css" class="init">
	</style>

  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>


  <!--  <script type="text/javascript" src="assets/plugins/jquery/dist/jquery.min.js"></script>  -->
    <script type="text/javascript" src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/plugins/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="assets/plugins/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- Bootstrap date-time-picker js -->
    <script type="text/javascript" src="assets/pages/advance-elements/moment-with-locales.min.js"></script>
    <!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
    <!-- Custom js -->
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script src="assets/pages/user-profile.js"></script>
    <script src="assets/js/pcoded.min.js"></script>
    <script src="assets/js/demo-12.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/jquery.mousewheel.min.js"></script>



  
	
	
	
	<script type="text/javascript" language="javascript" class="init">
	
	
	
	$(document).ready(function() {
		 var selected = [];
		$('#lisTable').dataTable( {
			pageLength: 20,
			dom: 'Bfrtip',
			destroy: true,
			select: true,
	    	searching: true,
			language: {
	                "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
			},
			 columnDefs: [
		            {
		                targets: [0,1],
		                className: 'noVis'
		            }
		        ],
			 buttons: [{
			      extend: 'copyHtml5',
			      text: '<i class="fa fa-files-o"></i>',
			      titleAttr: 'Copy',
			      exportOptions: {
			    	  columns: [ 0,1,2,3,4 ]
	                }
			    },
			    {
			      extend: 'excelHtml5',
			      text: '<i class="fa fa-file-excel-o"></i>',
			      titleAttr: 'Excel',
			      exportOptions: {
			    	  columns: [ 0,1,2,3,4 ]
	                }
			    },
			    {
			      extend: 'pdfHtml5',
			      text: '<i class="fa fa-file-pdf-o"></i>',
			      titleAttr: 'PDF',
			      exportOptions: {
			    	  columns: [ 0,1,2,3,4 ]
	                }
			    },
			    
			   /* {
				      extend: 'colvis',
				      text: '<i class="fa fa-plus"></i>',
				      titleAttr: 'Visible',
				      collectionLayout: 'fixed two-column',
				      columns: ':not(.noVis)'
				},*/
			    
			    {
				      extend: 'print',
				      text: '<i class="fa fa-print"></i>',
				      titleAttr: 'Print',
				      exportOptions: {
				    	  columns: [ 0,1,2,3,4 ]
		                }
				    }
			    
			  
			  ]

		} );
		

	 	
		
		
	} );

		
		</script>
    
    
    
    
    
</head>

<body >
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav th:replace="header :: nav1">
        </nav>



        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                   <nav th:replace="menu :: nav">
                    </nav>                
                   <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header">
                                        <div class="page-header-title">
                                            <h4>Liste des services </h4>
                                           <!-- <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>-->
                                        </div>
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">Administration</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">Liste des services</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        
                                        <!-- Hover table card start -->
                                        <div class="card">
                                            <div class="card-header">
                                                <!--<h5>Hover table</h5>
                                                <span>use class <code>table-hover</code> inside table element</span>-->
                                              <div class="card-header-right">
                                                   <!--   <i class="icofont icofont-rounded-down"></i>-->
                                                    <i class="icofont icofont-refresh"></i>
                                                    <!--<i class="icofont icofont-close-circled"></i>-->
                                                </div>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table id="lisTable" class="table table-hover"  >
                                                        <thead>
                                                         	<tr>
                     <th>#</th>                                   
					<th> Nom </th>
					<th> Description </th>
					
					<th>Status </th>
					
					<th>Actions</th>
				</tr>
                                                        </thead>
                                                        <tbody>
                                                            
                                                           
                                                            <tr th:each="service,state : ${listService}">
                                                            <th th:text="${state.count}" scope="row"></th>
                                                          
					<td th:text="${service.serviceNom}"></td>
					<td th:text="${service.serviceDescription}"></td>
                                                          
 <td th:text="${ service.serviceActivate == true } ? 'Activé' : 'Désactivé'" > </td>
 
     <td><a th:href="@{/editService/{id}(id=${service.serviceKy})}" class="btn btn-primary btn-sm">Modifier</a>
						<a th:href="@{/deleteService/{id}(id=${service.serviceKy})}" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous vraiment supprimer ce service ?');">Supprimer</a></td>
					                                                       
                                                            
                                                       
              
                </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Hover table card end -->
                                       
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->

                            <!--<div id="styleSelector">-->

                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--  <div class="fixed-button">
                <a href="https://codedthemes.com/item/mash-able-pro-admin-template/" class="btn btn-primary" aria-hidden="true">Upgrade To Pro</a>
        </div>-->
</div>



    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
  

</body>

</html>
